In [40]:
import re
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

In [46]:
#file related for multiple files
folder_path = 'D:\Messages_excel'
files = os.listdir(folder_path)

text_files = [file for file in files if file.endswith('.txt')]

In [48]:
for text_file in text_files:
    file_path = os.path.join(folder_path,text_file)

TypeError: join() argument must be str, bytes, or os.PathLike object, not 'list'

In [24]:
text = pd.read_fwf('text_scripts.txt')

In [25]:
text_values = pd.DataFrame(text.values)
text_values

                                                       0
0                            |* txmcsdll9001  B61O_a_ext
1                       |* DLL for tcmcs tables handling
2                                       |* Sowmya Yarram
3                                  |* 2022-11-23 [03:00]
4      |*********************************************...
...                                                  ...
15505                          o.late.payment.amount = 0
15506                            o.late.payment.date = 0
15507                                          endselect
15508                                                  }
15509  |*************************************** End O...

[15510 rows x 1 columns]

In [26]:
pattern = 'dal.set.error.message\(\"(.*)\"'

In [27]:
output = []
for i in text_values[0]:
    match = re.findall(pattern,i)
    if not match :
        continue
    else:
        if '@' in match:
            continue
        else:
            output.append(match) # print output for the all the message codes

In [28]:
message_df = pd.read_excel('ttadv4551m000_0000_20240501-220217_97052.xlsx',header=1)

C:\Users\pbandi\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [29]:
message_df['full_column'] = message_df['Package'] + message_df['Message Code']

In [30]:
message_df['full_column']

0       txacp2400.001
1       txacp2400.002
2       txacp8006.001
3       txacp8006.003
4          txacps0017
            ...
1338       txwmds5133
1339       txwmds5141
1340       txwmds5142
1341       txwmds5143
1342       txwmdt5301
Name: full_column, Length: 1343, dtype: object

In [31]:
messages_not_in_excel = []
for mess in output:
    if mess in message_df['full_column'].values:
        continue
    else:
        messages_not_in_excel.append(mess)

In [32]:
new_messages_df = pd.DataFrame(messages_not_in_excel)

In [20]:
new_messages_df.to_excel('outputexcel.xlsx',index = False)