In [1]:
# pandas is a libray which we can perform the analysis and having lacks of helper functions 
# Table in spread sheet or excel is called data fream in the Python 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
hp_df = pd.read_csv('house_price_data.csv')
hp_df

In [ ]:
hp_df.shape # Returns to  get the number of rows and columns in the Dataframe

In [ ]:
x = hp_df.groupby(['MSZoning']).mean('SalePrice')
plt.boxplot(hp_df['SalePrice'])

In [ ]:
hp_df.shape[1] # to get the columns in the data frame

In [ ]:
# to Access all the Columns in data frame
hp_df.columns  # Returns the Name of the columns from the Data Frame

In [ ]:
# To Access the particualar columns
hp_df['LotFrontage']  # Series[Equavlant to a column] to access the single column
hp_df[['MSZoning','LotArea','Street']] #To Access the multiple columns [ we have to pass like the list ] (Using the list) 
hp_df[['MSZoning','LotArea','Street']] # Access the multiple objects from the data frame

In [ ]:
hp_df

In [ ]:
hp_df.iloc[3:8,4:10]  # To access the particluar value [3:8] is the number of rows we are access from and to 
                      # [4:10] To access the number of columns from and to

In [ ]:
hp_df.iloc[:3,:3]   # .iloc is used for the indexing in the Data Frame

In [ ]:
hp_df[hp_df['SalePrice'] > 200000]   # Filter on the Data Frame  it will returns the all the recoreds where sales price greater than 200000

In [ ]:
# There are 2 variables in data science 1)Coninous variables -->  Real values or number 
# 2) Categorical Variables--> Enum fields in the BAAN 
hp_df['MSZoning'].value_counts()

In [ ]:
hp_df['MSZoning'].unique()

In [ ]:
(hp_df['MSZoning'].value_counts())['FV']  # returns the all the

In [ ]:
hp_df['SalePrice'].describe() # Returns the Descriptve Statistics of continious variables

In [ ]:
hp_df['SalePrice'].describe()['count'] # Returns the count in the statstics of the continious variables

In [ ]:
hp_df.dtypes  # To know the data types of all the columns

In [ ]:
hp_df[['SalePrice','MSZoning']].dtypes   # To indentify the particular data type of the columns 
hp_df['SalePrice'].dtypes
hp_df['MSZoning'].dtypes   # O Stnads for Objects 
#when ever the Data type is O or objects than it is a catagorical Objects

In [ ]:
hp_df['MSSubClass'].dtypes

In [ ]:
# Convert the continious variables into catagorical variables and assign it to back to the Data Frame
hp_df['MSSubClass']=hp_df['MSSubClass'].astype(object)

In [ ]:
hp_df['MSSubClass'].dtypes

In [ ]:
# Filter of the tYPE 2) Categorical Variables in the Data Frame 
hp_df[hp_df['MSZoning'] == 'RM']

In [ ]:
hp_df['MSZoning'].unique()

In [ ]:
hp_df.sort_values(by = 'SalePrice',ascending = False)

In [ ]:
# returns all the sum of the missing values in the Data Frame of induival columns  
hp_df.isnull().sum()

In [ ]:
hp_df.isnull().sum(axis = 1) # get the missing values count in each rows Axis = 1 is done by rows values axis = 0 done by column wise

In [ ]:
# Filling the missing values using the .fillna and update that with the mean of the lot Frontage and assigned into the Data Frame

hp_df

In [ ]:
# Calculate the sum of the all the missing values in the particular column
hp_df['LotFrontage'].isnull().sum()

In [ ]:
hp_df['LotFrontage'].fillna('Prajwal',inplace = True) # it was replaceing the all the empty values with the Prajwal

In [ ]:
hp_df['LotFrontage'].isnull().sum() # To Calculate the all the data of the columns having null

In [ ]:
hp_df = hp_df.drop(columns = 'LotFrontage') # This is used to Delete a column from the Data Frame

In [ ]:
hp_df

In [ ]:
# Implimentation of apply functions 
def get_centure(year):
    if year > 2000:
        return '21st Century'
    elif year < 2000:
        return '20th Century'

In [ ]:
hp_df['Century'] = hp_df['YearBuilt'].apply(get_centure)

In [ ]:
# logorithum Calculations 
hp_df['LotArea']

In [ ]:
hp_df['LotArea'].apply(np.log)

In [ ]:
# Sale Price & Lot Area # Coefficiant co realtaion function is the function relation b/n 2 continues objects in the Data Frame 
# numpy self defined functions --> np.long To find the logarithum values 
#                              --> np.corrcoef
np.corrcoef(hp_df['SalePrice'],hp_df['LotArea'])

In [ ]:
plt.boxplot(hp_df['SalePrice'])

In [ ]:
sns.boxplot(hp_df['SalePrice'])

In [ ]:
sns.distplot(hp_df['SalePrice'])

In [ ]:
plt.hist(hp_df['SalePrice'])

In [ ]:
# Write a python functions that takes the columns (names ) from hp_df and retunrs a list of outlier values

In [ ]:
sns.displot(hp_df['Utilities'])

In [ ]:
sns.boxplot(hp_df['SalePrice'])

In [ ]:
hp_df['SalePrice'].describe()

In [ ]:
hp_df.groupby('MSZoning').mean('SalePrice')

In [ ]:
# Write a python functions that takes the columns (names) from hp_df and retunrs a list of outlier values

# Important Question in Interview 
def Calculate_outliers(col):
    q1 = (col.describe())['25%']
    q3 = (col.describe())['75%']
    iqr = q3 - q1
    hvo,lvo = [],[]
    for value in col:
        if value > q3 + (1.5* (iqr)):
            hvo.append(value)
        elif value < q1 - (1.5*(iqr)):
            lvo.append(value)
    total = [hvo,lvo]
    return total 
Calculate_outliers(hp_df['LotArea'])

In [ ]:
# Manohar's Method to calculate-->
#the write a python functions that takes the columns (names) from hp_df and retunrs a list of outlier values
# Important Question in Interview 

def get_outliers(col):
    q1 = (hp_df[col].describe())['25%']
    q3 = (hp_df[col].describe())['75%']
    iqr = q3 - q1 
    return [val for val in hp_df[col] if val > q3 + (1.5*iqr)],[val for val in hp_df[col] if val < q1 - (1.5*iqr)]
get_outliers('LotArea')

In [ ]:
# Group by using the Pandas   
hp_df.groupby('MSZoning').mean('SalePrice')      # To Access for all the Data

In [ ]:
# we have to use the Group by for the Catagorical variables 
hp_df[hp_df['MSZoning'] == 'RL']['SalePrice'].mean()

In [ ]:
# Group by using the Pandas   
hp_df.groupby('MSZoning').mean('SalePrice')['SalePrice']      # To Access for all the Data

In [ ]:
hp_df.drop(columns = ['MSSubClass','MSZoning'])

In [ ]:
"""
     Chi-Square Test :--> It is Hypothysis Test --> To Test the Corelation Betweeen two Catagorical Varaible 
    Steps for Hypothysis
    
    1.  Null Hypothysis :No Corelation exist between the two Variables .
    2. Alternate Hypothysis : Corelation Exist.
    3. Confidence Level =  0.95  and Significance Level  = 1- 0.95 = 0.05
    4. Collect the evidence 
    5. Calculate the chi -2 test stastics & P -value 
    6. Conclude : if p -values  from step(5) < significance level (0.05 ), Reject H0,
                  if p -values from steup(5) > Significance level (0.05), Fail to Reject H0,
    
"""

In [ ]:
hp_df.columns

In [ ]:
################## Date 26/11/2023 ****************************************************************************
# Chi-Squaire and Anova 
# 1. Chi-squair Test 

""" 
    Corelation check between MSZoing and LotShape (From hp_df) Dataframe
    
    Chi-Square Test :--> It is Hypothysis Test --> To Test the Corelation Betweeen two Catagorical Varaible 
    
    Steps for Hypothysis.
    1. Null Hypothysis (H0):No Corelation exist between the two Variables .
    2. Alternate Hypothysis (HA) : it is opposite of Hypothysis
    3. Set up the Confidence level 
        Confidence level = 0.95 , Significance Level = 1 - 0.95 = 0.05 
    4. Collect the Evidence 
    5. Calculate the chi-2 Test Statistics & P- Values 
    6. Conclude:  if p -values  from step(5) < significance level (0.05 ), Reject H0, Corelated
                  if p -values from steup(5) > Significance level (0.05), Fail to Reject H0, Not Corelated  
    
"""

In [ ]:
# Chi-2 Test we will use for the 2 catogorical variables 
# Corelation check between MSZoing and LotShape (From hp_df) Dataframe
# for this we have to import the helper function from scipy library

In [ ]:
# Scipy.stats 
from scipy.stats import chi2_contingency
# It was used to get the Observed Table of 2 Catogorical dataframe 
observed_table = pd.crosstab(hp_df['MSZoning'],hp_df['LotShape'])  
chi2_contingency(observed_table)
p_value =chi2_contingency(observed_table)[1]
p_value # 0.00000000000000000001359 < 0.05   Reject the Null Hypothysis, There for these 2 variables are Correlated.

In [ ]:
# Degree of Freedom (DOF)
# For N Number of stundents N-1 students having the Freedom to choose the Number

In [ ]:
# MSZoning --> Catogorical Variable 
# Write a logic to check corelation between MSZoning and Other Catogorical Variables From hp_df  
# My Solution 
Catogorical_Variables = hp_df.select_dtypes(include="object")
List_of_Catogorical  =Catogorical_Variables.columns
def all_catogrical_corellated_varaibles(List_of_Catogorical):
    correlated_varaibles = []
    for each_variable in List_of_Catogorical:
        observed_table = pd.crosstab(hp_df['MSZoning'],hp_df[each_variable])
        chi2_contingency(observed_table)
        p_value = chi2_contingency(observed_table)[1]
        if p_value < 0.05:
            correlated_varaibles.append(each_variable)
    return correlated_varaibles
all_catogrical_corellated_varaibles(List_of_Catogorical)

In [ ]:
# MSZoning --> Catogorical Variable 
# Write a logic to check corelation between MSZoning and Other Catogorical Variables From hp_df  
# Mentor Method --> Manohar Method 
cat_col = [col for col in hp_df.columns if hp_df[col].dtype == 'object']
for col in cat_col:
    observed_tables = pd.crosstab(hp_df['MSZoning'],hp_df[col])
    if chi2_contingency(observed_tables)[1] < 0.05:
        print(col)

In [ ]:
# Correlation Between MZZooming( Catogorical Variable) & Sales Price 
hp_df

In [ ]:
from scipy.stats import f_oneway
RL_list = hp_df[hp_df['MSZoning'] == 'RL']['SalePrice']
RM_list = hp_df[hp_df['MSZoning'] == 'RM']['SalePrice']
FV_list = hp_df[hp_df['MSZoning'] == 'FV']['SalePrice']
RH_list = hp_df[hp_df['MSZoning'] == 'R']['SalePrice']
C_all_list = hp_df[hp_df['MSZoning'] == 'C (all)']['SalePrice']

In [ ]:
f_oneway(RL_list,RM_list,FV_list,RH_list,C_all_list)

In [ ]:
# Variance Between Groups / Variance within Groups 
hp_df['SalePrice'].mean()

In [ ]:
RL_mean = hp_df[hp_df['MSZoning'] == 'RL']['SalePrice'].mean()  # RL 
RM_list = hp_df[hp_df['MSZoning'] == 'RM']['SalePrice'].mean()  # RM 
FV_list = hp_df[hp_df['MSZoning'] == 'FV']['SalePrice'].mean()  # FV
RH_list = hp_df[hp_df['MSZoning'] == 'RH']['SalePrice'].mean()  # RH 
C_all_list = hp_df[hp_df['MSZoning'] == 'C (all)']['SalePrice'].mean() # CAll

In [ ]:
# Varuabce  Between the Groups 
print((hp_df['SalePrice'].mean() - hp_df[hp_df['MSZoning'] == 'RL']['SalePrice'].mean())** 2 + 
((hp_df['SalePrice'].mean() - hp_df[hp_df['MSZoning'] == 'RM']['SalePrice'].mean())** 2  +
(hp_df['SalePrice'].mean() - hp_df[hp_df['MSZoning'] == 'FV']['SalePrice'].mean())** 2  +
(hp_df['SalePrice'].mean() - hp_df[hp_df['MSZoning'] == 'RH']['SalePrice'].mean())** 2 +
(hp_df['SalePrice'].mean() - hp_df[hp_df['MSZoning'] == 'C (all)']['SalePrice'].mean())** 2))
x =  180921.19589041095 /17934657719.26021
x

In [ ]:
# WAPF That takes a categorical variable (from hp_df) and check for the correlation with salePrice.
#sample_input = 'MSZoning'
#sample_output = 'Correlated'
def annva(col):
    categories = list(hp_df[col].value_counts().index)
    p_value = f_oneway(*[hp_df[hp_df[col] == cat]['SalePrice'] for cat in categories])[1]
    
    if p_value < 0.05:
        return 'Correlated'
    else:
        return 'Not Correlated'
annva('MSZoning')

In [ ]:
# WAPF That takes a input from the and check with the output sales price and return correlated or not 

def anova(col):
    Correlated = []
    x = hp_df.select_dtypes(include="object")
    for columns in x:
        categories = list(hp_df[columns].value_counts().index)
        p_value = f_oneway(*[hp_df[hp_df[col] == cat]['SalePrice'] for cat in categories])[1]

        Correlated.append(p_value)
    return Correlated
z = anova(x)
list(zip(x,z))

In [ ]:
# WAPF That takes a input from the and check with the output sales price and return correlated or not
col = hp_df.select_dtypes(include="object")
col = col.columns
def anova(col):
    Correlated = []
    for columns in col:
        categories = list(hp_df[columns].value_counts().index)
        p_value = f_oneway(*[hp_df[hp_df[columns] == cat]['SalePrice'] for cat in categories])[1]
        if p_value < 0.05:
            Correlated.append('Correlated')
        else:
            Correlated.append('Not Correlated')
    return Correlated
anova(col)
list(zip(col,anova(col)))
categories

In [ ]:
# Write a logic to Create a DataFrame 3 Columns 
MSZoning    NA Count 0     NA Count % 
MSSbuclass    100 
LOt Frontage

In [ ]:
# Prajju = pb.DataFrame(hp_df.columns,columns = )
x = hp_df.columns
Pr_df = pd.DataFrame(x,columns =['Description'])
Pr_df = pd.DataFrame(hp_df.isnull().sum(axis = 0),columns = ['No of Missing values'])
# Pr_df = 
Pr_df

In [ ]:
def percentage_of_null_values_in_each_column(No_of_rows,Null_values_in_each_column):
    percentage = []
    for i in x:
        percentage.append((i/No_of_rows)* 100)
    return percentage
Percentage_each_column = percentage_of_null_values_in_each_column(hp_df.shape[0],Pr_df['No of Missing values'])

In [ ]:
hp_df.isnull().sum(axis = 0)

In [2]:
# 31-12-2023   # Learn about the Scaling 1.Standards Scalre

In [33]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder,OneHotEncoder

In [11]:
hp_df = pd.read_csv('house_price_data.csv')

In [12]:
# Standard Scalred We should not apply the Stnadard Scler 
# In Numpy array if you want to choose give the numpy to decide the array shapre  then give it as -1 
std_scaler = StandardScaler()

std_scaled_values = std_scaler.fit_transform(np.array(hp_df['LotArea']).reshape(-1,1))
std_scaled_values   # 0 = mean and the 1 Variance and standard deviation is 1

array([[-0.20714171],
       [-0.09188637],
       [ 0.07347998],
       ...,
       [-0.14781027],
       [-0.08016039],
       [-0.05811155]])

In [13]:
min_max_scaler = MinMaxScaler()
min_max_scaler_values = min_max_scaler.fit_transform(np.array(hp_df['LotArea']).reshape(-1,1))
min_max_scaler_values.std()   # each Scaled Values between the 0 and 1

0.04663743534762722

In [14]:
for column in hp_df.columns:
    if hp_df[column].dtype == 'int64'or hp_df[column].dtype == 'float64':
        hp_df[column] = std_scaler.fit_transform(np.array(hp_df[column]).reshape(-1,1))
hp_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,-1.730865,0.073375,RL,-0.208034,-0.207142,Pave,NaN,Reg,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,-1.599111,0.138777,WD,Normal,0.347273
1,-1.728492,-0.872563,RL,0.409895,-0.091886,Pave,NaN,Reg,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,-0.489110,-0.614439,WD,Normal,0.007288
2,-1.726120,0.073375,RL,-0.084449,0.073480,Pave,NaN,IR1,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,0.990891,0.138777,WD,Normal,0.536154
3,-1.723747,0.309859,RL,-0.414011,-0.096897,Pave,NaN,IR1,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,-1.599111,-1.367655,WD,Abnorml,-0.515281
4,-1.721374,0.073375,RL,0.574676,0.375148,Pave,NaN,IR1,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,2.100892,0.138777,WD,Normal,0.869843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1.721374,0.073375,RL,-0.331620,-0.260560,Pave,NaN,Reg,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,0.620891,-0.614439,WD,Normal,-0.074560
1456,1.723747,-0.872563,RL,0.615871,0.266407,Pave,NaN,Reg,Lvl,AllPub,...,-0.068692,NaN,MnPrv,NaN,-0.087688,-1.599111,1.645210,WD,Normal,0.366161
1457,1.726120,0.309859,RL,-0.166839,-0.147810,Pave,NaN,Reg,Lvl,AllPub,...,-0.068692,NaN,GdPrv,Shed,4.953112,-0.489110,1.645210,WD,Normal,1.077611
1458,1.728492,-0.872563,RL,-0.084449,-0.080160,Pave,NaN,Reg,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,-0.859110,1.645210,WD,Normal,-0.488523
1459,1.730865,-0.872563,RL,0.203918,-0.058112,Pave,NaN,Reg,Lvl,AllPub,...,-0.068692,NaN,NaN,NaN,-0.087688,-0.119110,0.138777,WD,Normal,-0.420841

In [18]:
# For the Catogorical Techniques there are 2 types of 
# Encoding Technique are there 
#    1. One-Hot Encoding 
#    2. Label Encoding

In [16]:
hp_df['MSZoning'].value_counts()

MSZoning
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: count, dtype: int64

In [29]:
oe_mszoning = pd.get_dummies(hp_df['MSZoning'])    # One-hot Encoding 

oe_mszoning.replace({True:1,False:0})

      C (all)  FV  RH  RL  RM
0           0   0   0   1   0
1           0   0   0   1   0
2           0   0   0   1   0
3           0   0   0   1   0
4           0   0   0   1   0
...       ...  ..  ..  ..  ..
1455        0   0   0   1   0
1456        0   0   0   1   0
1457        0   0   0   1   0
1458        0   0   0   1   0
1459        0   0   0   1   0

[1460 rows x 5 columns]

In [21]:
# Draw-back of One-hot Encoading 
# the thing is if 1000 unique values count is availabel in the Data set then we have to perfrom the 1000-1 = 999 columns

In [32]:
# 2nd Encoading 
# Label Encoading 
le = LabelEncoder()
le.fit_transform(hp_df['MSZoning'])
le.inverse_transform([3,2,1,0])

array(['RL', 'RH', 'FV', 'C (all)'], dtype=object)

In [56]:
oneHotencod = OneHotEncoder()
oneHotencod.fit_transform(np.array(hp_df['MSZoning']).reshape(-1,1))
oneHotencod

OneHotEncoder()

In [ ]:
# Multi Co-linearity --> Co-relation betweent the input amoung the models